<% provide(:title, "#{@league.name} Active Players") %>
<h1><%= @league.name %> // Active Players</h1>
<div class="league-links">
  <%= link_to "Back to League", @league, class: 'btn btn-success btn-sm btn-custom' %>
</div> 
<br><br>

<section>
  <h3>Skaters</h3>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Skater</th>
        <th>Team</th>
        <th>G</th>
        <th>A</th>
        <th>P</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @skaters.each do |skater| %>
        <% if skater.not_played? %>
          <tr>
            <td><%= i %></td>
            <td>XXXXXXXXXX</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% else %>
          <tr>
            <td><%= i %></td>
            <td><%= skater.full_name %></td>
            <td><%= skater.team %></td>
            <td><%= skater.goals %></td>
            <td><%= skater.assists %></td>
            <td><%= skater.points %></td>
          </tr>
        <% end %>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
</section>