<% provide(:title, "#{@league.name}") %>
<div class="page-heading">
  <h1><%= @league.name %></h1>
  <div class="league-links">
    <%= link_to "Skater Stats", skaters_league_path(@league), class: 'btn btn-success btn-sm btn-custom' %>
    <%= link_to "Goalie Stats", goalies_league_path(@league), class: 'btn btn-success btn-sm btn-custom' %>
    <%= link_to "League Rules", rules_league_path(@league), class: 'btn btn-success btn-sm btn-custom' %>
    <%= link_to "My Team", user_general_manager_path(current_user.id, @user_team), class: 'btn btn-success btn-sm btn-custom' if @league.general_managers.include? @user_team %>
    <%= link_to "Destroy League", @league, method: :delete, data: { confirm: "Are you sure? This is not reversible" }, class: 'btn btn-success btn-sm btn-custom' if current_user == @league.user %>
  </div>
</div>

<section>
  <h3>General Managers</h3>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Manager</th>
        <th>R1</th>
        <th>R2</th>
        <th>R3</th>
        <th>R4</th>
        <th>P</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @gms.each do |gm| %>
        <tr>
          <td><%= i %></td>
          <td><%= link_to gm.name, user_general_manager_path(gm.user_id, gm) %></td>
          <td><%= gm.r1_points %></td>
          <td><%= gm.r2_points %></td>
          <td><%= gm.r3_points %></td>
          <td><%= gm.r4_points %></td>
          <td><%= gm.points %></td>
          <td><%= link_to "X", gm, method: :delete, data: { confirm: "You sure? This is not reversible" } if current_user == @league.user %></td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
</section>

<ul class="league-info">
  <li>League Owner: <%= @league.user.name %></li>
  <li>Last Updated: <%= @updated_at %></li>
</ul>



<% if current_user == @league.user && Round.current_round < 1 %>
  <section>
    <h3>Add General Manager</h3>
    <%= render 'general_managers/gm_form' %>
  </section>
<% end %>
