<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>G</th>
      <th>A</th>
      <th>P</th>
      <th>OTG</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @defensemen.where(round: round).each do |d| %>
      <tr>
        <td>
          <span class='<%= 'active-player' if d.playing && round == @current_round %>'><%= "#{d.first_name} #{d.last_name}" %></span>
          <%= link_to "X", roster_player_path(d.roster_id), method: :delete if current_user == @gm.user && @lineup_round == round %>
        </td>
        <td><%= d["r#{round}_goals".to_sym] %></td>
        <td><%= d["r#{round}_assists".to_sym] %></td>
        <td><%= d["r#{round}_points".to_sym] %></td>
        <td><%= d["r#{round}_ot_goals".to_sym] %></td>
        <td><%= d["r#{round}_total".to_sym] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
