<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>G</th>
      <th>A</th>
      <th>P</th>
      <th>OTG</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @forwards.each do |f| %>
      <tr>
        <td>
          <span class='<%= 'active-player' if f.playing %>'><%= f.player.full_name %></span>
          <%= link_to "X", roster_player_path(@gm.roster_players.find_by(player_id: f.player.id, round: round)), method: :delete if current_user == @gm.user && Round.lineup_round == round %>
        </td>
        <td><%= f.player.statline["r#{round}_goals".to_sym] %></td>
        <td><%= f.player.statline["r#{round}_assists".to_sym] %></td>
        <td><%= f.player.statline["r#{round}_points".to_sym] %></td>
        <td><%= f.player.statline["r#{round}_ot_goals".to_sym] %></td>
        <td><%= f.player.statline["r#{round}_total".to_sym] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
