<table>
  <thead>
    <tr>
      <th>Goalie</th>
      <th>W</th>
      <th>SO</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @goalies.each do |g| %>
      <tr>
        <td>
          <span class='<%= 'active-player' if g.playing %>'><%= g.player.full_name %></span>
          <%= link_to "X", roster_player_path(@gm.roster_players.find_by(player_id: g.player.id, round: round)), method: :delete if current_user == @gm.user && Round.lineup_round == round %>
        </td>
        <td><%= g.player.statline["r#{round}_wins".to_sym] %></td>
        <td><%= g.player.statline["r#{round}_shutouts".to_sym] %></td>
        <td><%= g.player.statline["r#{round}_total".to_sym] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
