<table>
  <thead>
    <tr>
      <th>Goalie</th>
      <th>W</th>
      <th>S</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% goalies.each do |s| %>
      <tr>
        <td>
          <%= s.player.full_name %>
          <%= link_to "X", roster_player_path(@gm.roster_players.find_by(player_id: s.player.id, round: round)), method: :delete if current_user == @gm.user && Round.lineup_round == round %>
        </td>
        <td><%= s.player.statline["r#{round}_wins".to_sym] %></td>
        <td><%= s.player.statline["r#{round}_shutouts".to_sym] %></td>
        <td><%= s.player.statline["r#{round}_total".to_sym] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
