<table>
  <thead>
    <tr>
      <th>Goalie</th>
      <th>W</th>
      <th>SO</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @goalies.where(round: round).each do |g| %>
      <tr>
        <td>
          <span class='<%= 'active-player' if g.playing %>'><%= "#{g.first_name} #{g.last_name}" %></span>
          <%= link_to "X", roster_player_path(g.id), method: :delete if current_user == @gm.user && @lineup_round == round %>
        </td>
        <td><%= g["r#{round}_wins".to_sym] %></td>
        <td><%= g["r#{round}_shutouts".to_sym] %></td>
        <td><%= g["r#{round}_total".to_sym] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
