<% if current_user && (@current_round == round || @lineup_round == round) && @gm.player_pool(round).any? %>
  <section>
    <%= render 'add_skater_form', round: round, players: @gm.player_pool(round) %>
  </section>
<% elsif current_user == @league.user && round == @current_round && @gm.admin_player_pool.any? %>
  <section>
    <%= render 'add_skater_form', round: round, players: @gm.admin_player_pool %>
  </section>
<% end %>

<section class="roster-tables">
  <% if (current_user && @gm.user_id == current_user.id) || round <= @round %>
    <h3>Forwards (<%= @forwards.where(round: round).size %>/<%= @league["r#{round}_fw_count".to_sym] %>)</h3>
    <%= render 'forwards_table', round: round %>

    <h3>Defensemen (<%= @defensemen.where(round: round).size %>/<%= @league["r#{round}_d_count".to_sym] %>)</h3>
    <%= render 'defencemen_table', round: round %>

    <h3>Goalies (<%= @goalies.where(round: round).size %>/<%= @league["r#{round}_g_count".to_sym] %>)</h3>
    <%= render 'goalies_table', round: round %>
    <section>
      <h3>Round Points (<%= @gm["r#{round}_points"] || 0 %>)</h3>
      <h3>Total Points (<%= @gm.points || 0 %>)</h3>
    </section>
  <% else %>
    <div class="round-message">
      Round hasn't started yet
    </div>
  <% end %>
</section>
