<section class="roster-tables">
  <% if (current_user && @gm.user_id == current_user.id) || Round.round_finished?(round) || Round.current_round == round %>
    <h3>Forwards (<%= forwards.count %>/<%= @league["r#{round}_fw_count".to_sym] %>)</h3>
    <%= render 'skaters_table', players: forwards, round: round %>

    <h3>Defensemen (<%= defensemen.count %>/<%= @league["r#{round}_d_count".to_sym] %>)</h3>
    <%= render 'skaters_table', players: defensemen, round: round %>

    <h3>Goalies (<%= goalies.count %>/<%= @league["r#{round}_g_count".to_sym] %>)</h3>
    <%= render 'goalies_table', goalies: goalies, round: round %>
  <% else %>
    Round hasn't started yet
  <% end %>
</section>

<% if current_user && (@gm.user_id == current_user.id && Round.lineup_round == round) %>
  <%= render 'add_skater_form', round: round %>
<% end %>
