<div class="tab-content" id="roundTabContent">
  <div class="tab-pane <%= "#{@r1}" %>" id="round-one" role="tabpanel" aria-labelledby="round-one-tab">
    <%= render 'lineup_table', round: 1 %>
  </div>
  <div class="tab-pane <%= "#{@r2}" %>" id="round-two" role="tabpanel" aria-labelledby="round-two-tab">
    <%= render 'lineup_table', round: 2 %>
  </div>
  <div class="tab-pane <%= "#{@r3}" %>" id="round-three" role="tabpanel" aria-labelledby="round-three-tab">
    <%= render 'lineup_table', round: 3 %>
  </div>
  <div class="tab-pane <%= "#{@r4}" %>" id="round-four" role="tabpanel" aria-labelledby="round-four-tab">
    <%= render 'lineup_table', round: 4 %>
  </div>
</div>
