<div class="tab-content" id="roundTabContent">
  <div class="tab-pane <%= "#{@r1}" %>" id="round-one" role="tabpanel" aria-labelledby="round-one-tab">
    <%= render 'lineup_table', round: 1, forwards: @r1_forwards, defensemen: @r1_defensemen, goalies: @r1_goalies %>
  </div>
  <div class="tab-pane <%= "#{@r2}" %>" id="round-two" role="tabpanel" aria-labelledby="round-two-tab">
    <%= render 'lineup_table', round: 2, forwards: @r2_forwards, defensemen: @r2_defensemen, goalies: @r2_goalies %>
  </div>
  <div class="tab-pane <%= "#{@r3}" %>" id="round-three" role="tabpanel" aria-labelledby="round-three-tab">
    <%= render 'lineup_table', round: 3, forwards: @r3_forwards, defensemen: @r3_defensemen, goalies: @r3_goalies %>
  </div>
  <div class="tab-pane <%= "#{@r4}" %>" id="round-four" role="tabpanel" aria-labelledby="round-four-tab">
    <%= render 'lineup_table', round: 4, forwards: @r4_forwards, defensemen: @r4_defensemen, goalies: @r4_goalies %>
  </div>
</div>
